.wrapper {
  /* background-color: rgb(207, 207, 207); */
  /* padding: 10px; */
  text-align: center;
  margin-bottom: 20px;
}

.title {
  margin: 0;
  font-size: 40px;
  /* color: white; */
  /* font-weight: bold; */
}

.description {
  margin: 0;
  font-size: 18px;
}
