.track {
  color: var(--secondaryText);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 16px;
  margin: 5px 0;
  padding: 3px 0;
  cursor: pointer;
  background-color: var(--playerBackground);
  border-radius: 5px;
}

.track:first-child {
  margin: 0;
}

.active {
  color: white;
  text-align: center;
  font-size: 18px;
  margin: 5px 0;
  padding: 3px 0;
  cursor: pointer;
  background-color: var(--playerBackground);
  border-radius: 5px;
}

.active:first-child {
  margin: 0;
}

.track:hover {
  color: white;
  background-color: var(--playerBackground);
  border-radius: 5px;
}
