.wrapper {
  width: 100%;
  /* border: 3px solid var(--purple); */
  border-radius: 10px;
  padding: 0 40px;
  margin: 0 auto;

  background-color: var(--grey);

  overflow: auto;
  /* background-color: rgb(65, 44, 255); */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07); */
  font-family: 'Quicksand', sans-serif;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 0 20px;
    /* padding-bottom: 20px; */
    /* border: none; */
  }
}
