.wrapper {
  text-align: center;
}

.search {
  font-family: 'Quicksand', sans-serif;
  height: 40px;
  border: none;
  font-size: 18px;
  width: 100%;
  margin: 0 auto 10px auto;
  background-color: var(--playerBackground);
  color: var(--primaryText);
  padding-left: 20px;
  border-radius: 10px;
}
