.search {
  font-family: 'Quicksand', sans-serif;
  height: 40px;
  border: none;
  font-size: 18px;
  width: 90%;
  margin: 0 auto 10px auto;
  /* margin-bottom: 10px; */
  background-color: var(--grey);
  color: white;
  padding-left: 20px;
  border-radius: 10px;
}
