.wrapper {
  display: grid;
  place-items: center;
  /* border: 1px solid white; */
  width: 100%;
  min-height: 60px;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 3px;
  border-radius: 5px;
  background: #ffffff;
  /* background: var(--progressBackground); */
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* background: rgb(255, 255, 255); */
  background: var(--buttonColor);
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  /* background: rgb(255, 255, 255); */
  background: var(--buttonColor);
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #b951e9;
  cursor: pointer;
}

/* @media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
    height: 60px;
  }
} */

@media only screen and (max-width: 800px) {
  .wrapper {
    display: none;
  }
}
