@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

.warning {
  padding-left: 10px;
  border-left: 5px solid tomato;
}

.note {
  padding-left: 10px;
  border-left: 5px solid rgb(255, 175, 55);
}

.link {
  color: rgb(94, 0, 182);
}

pre {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

code {
  background-color: rgb(212, 212, 212);
  padding: 5px;
}

hr {
  border: none;
  border-bottom: 2px solid rgb(36, 36, 36);
}
